# Backup files
**/*~

# Pytest cache
.cache

# Python detritus
**/__pycache__
**/*.pyc

# Build/run artifacts
**/vtk
**/*.log
**/*.output
**/SESSION.NAME
**/xxt_map.rea
**/*.tmp
**/Makefile
**/obj
**/*.out
**/nekcem

Prenek artifacts
**/fort.*
**/*.dra

# Data files
**/*.png
**/*.dat
